.expenses-by-category {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 1px 2px 0
    rgb(0.062745101749897 0.0941176488995552 0.1568627506494522 / 0.05);
  border-width: 1px;
  border-style: solid;
  border-color: #eceff2;
}

.expenses-by-category__header {
  margin: 24px 16px 24px 24px;
}
.expenses-by-category__header-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
}
.expenses-by-category__header-subtitle {
  color: #516778;
  margin: 0;
  line-height: 20px;

  font-weight: 400;
  font-size: 14px;
}

.expenses-by-category__divider {
  display: flex;
  background-color: #f9fafb;
  padding: 8px 24px;
  border-style: solid;
  border-color: #eceff2;
  border-width: 1px;
  color: #516778;
  justify-content: space-between;
}

.expenses-by-category__row {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-color: #eceff2;
  padding: 12px 24px;
  align-self: stretch;
  color: #101828;
}
.expenses-by-category__row-button {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.expenses-by-category__category {
  display: flex;
  margin-right: 25px;
}

.expenses-by-category__category-title {
  line-height: 20px;
  margin: 0 0 0 12px;

  font-weight: 500;
  font-size: 14px;
}

.expenses-by-category__category-amount {
  line-height: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.expenses-by-category__category-detail {
  color: #101828;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 70px;
}

.expenses-by-category__category-detail__body {
  display: flex;
  justify-content: space-between;
}
