.period-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #eceff2;
  color: #516778;
  background-color: #fff;
  width: fit-content;
}

.period-selector-item {
  display: inline-flex;
  align-items: center;
}

.period-selector-button {
  all: unset;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  padding: 8px 14px;
}

.period-selector-button--active {
  background-color: #eff6ff;
  color: #155eef;
}

.period-selector-divider {
  width: 1px;
  align-self: stretch;
  background-color: #eceff2;
}
