.value-card {
  display: flex;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: #eceff2;
  box-shadow: 0px 1px 2px 0
    rgb(0.062745101749897 0.0941176488995552 0.1568627506494522 / 0.05);
  align-items: flex-end;
}

.value-card__info {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.value-card__value {
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -0.125em;
  line-height: 44px;
  color: #155eef;
}

.value-card__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #516778;
}

.value-card__trend {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #ffffff;
  padding: 2px 10px 2px 8px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #d5dde2;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #22292f;
  height: 50%;
}
